.wrapper{
    max-width: 900px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--accent-red);
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
}

.text{
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    letter-spacing: -0.01em;
    color: var(--white);
}

