.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100dvh;
}
.word__box{
        background-color: #003049;
        padding: 20px;
        height: 80%;
        display: grid;
        place-items: center;
        width: 100%;
}

.letter__box{
    display: flex;
    gap: 40px;
}

.letrer{
    display: grid;
    place-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 48px;
    line-height: 125%;
    color: hsl(0, 0%, 100%, .5);
    text-transform: uppercase;
}


.curent__letter{
    --size: 100px;
    width: var(--size);
    height: var(--size);
    color: hsl(0, 0%, 100%, 1);
    position: relative;
    top: -40px;
    background-color: hsla(0, 100%, 24%, 0.762);
    padding: 10px;
    border-radius: 50px;
}


.control__group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
    background-color: var(--white);
}

.button__group{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.control__button{
    cursor: pointer;
    width: 98px;
    height: 40px;
    border: 2px solid var(--black);
    border-radius: 6px;
    background-color: var(--white);
}








