.hero{
    position: relative;
}
.hero__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 50px;
}

.title__box{
    max-width: 300px;
    text-align: center;
    position: relative;
    margin-block-end: 20px;
}
.title__box::after{
    --size:300px;
    --position: 50%;
    --postionTransform: -50%;
    content: "";
    display: block;
    width: var(--size);
    height: var(--size);
    position: absolute;
    left: var(--position);
    top: var(--position);
    transform: translate(var(--postionTransform), var(--postionTransform));
    background-color: #780000;
    border-radius: 50%;
    z-index: 1;
}


.hero__description{
    max-width: 300px;
    margin-inline: auto;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    color: #fdf0d5;
    margin-block-end: 20px;
}

.info{
    position: absolute;
    right: 0;
    top: 20px;
    background-color: #780000 !important;
    color: #fdf0d5 !important;
    border: none !important;
}

.link{
    text-transform: uppercase;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
}

.nav__list{
    padding-inline-start: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 100%, 24%);
    gap: 10px;
    border: 2px solid hsl(4, 91%, 48%);
    border-radius: 40px;
    padding: 12px 14px 12px 14px;
}